<div *ngIf="listTitle && list.length" class="vts-upload-list-title">
  <span>{{listTitle}} ({{list.length}})</span>
</div>

<div class="vts-upload-list-{{ listType }}-container" @listAnimation>
  <div *ngFor="let file of list;trackBy: fileTrackBy"
    class="vts-upload-list-item vts-upload-list-item-{{ file.status }}" [attr.data-key]="file.key" @itemAnimation>
    <ng-template [ngTemplateOutlet]="itemIcon" [ngTemplateOutletContext]="{ $implicit: file }"></ng-template>
    <ng-container [ngSwitch]="listType">
      <ng-container *ngSwitchCase="'row'">
        <ng-container [ngTemplateOutlet]="rowItemDetail" [ngTemplateOutletContext]="{ $implicit: file }"></ng-container>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <ng-container [ngTemplateOutlet]="galleryItemDetail"
          [ngTemplateOutletContext]="{ $implicit: file }"></ng-container>
      </ng-container>
    </ng-container>
    <ng-template *ngIf="file.status !== 'uploading'" [ngTemplateOutlet]="actions"
      [ngTemplateOutletContext]="{ $implicit: file }"></ng-template>
  </div>
</div>

<ng-template #itemIcon let-file>
  <ng-container *ngIf="file.iconType == 'thumbnail'; else rowIcon">
    <a *ngIf="file.status !== 'error'" class="vts-upload-list-item-thumbnail"
      [class.vts-upload-list-item-file]="!file.isImageUrl" target="_blank" rel="noopener noreferrer"
      [href]="file.url || file.thumbUrl" (click)="handlePreview(file, $event)">
      <img *ngIf="file.isImageUrl" class="vts-upload-list-item-image" [src]="file.thumbUrl || file.url"
        [attr.alt]="file.name" />
    </a>
  </ng-container>
  <ng-template #rowIcon>
    <div class="vts-upload-list-item-illustrate"></div>
  </ng-template>
</ng-template>

<ng-template #rowItemDetail let-file>
  <div class="vts-upload-list-item-info">
    <div class="vts-upload-list-item-title-row">
      <span [class.uploaded]="file.status === 'done'" class="name">
        {{ file.name }}
      </span>
      <i *ngIf="file.status === 'uploading'" (click)="handleRemove(file, $event)"
        class="vts-upload-action-icon vts-upload-action-icon-remove" vts-icon vtsType="Delete"></i>
    </div>
    <div *ngIf="file.isUploading" class="vts-upload-list-item-progress-row">
      <vts-progress [vtsPercent]="file.percent!" vtsType="line" [vtsShowInfo]="false"
        [vtsStrokeWidth]="8"></vts-progress>
    </div>
    <div class="vts-upload-list-item-description-row">
      <span *ngIf="file.isUploading" class="vts-upload-list-item-size">
        {{ ((file.size || 0) * (file.percent || 0) / 100) | vtsFileSize }} of {{ file.size | vtsFileSize }}
        ({{file.percent! | number : '1.0-2'}}%)
      </span>
      <span *ngIf="!file.isUploading" class="size">
        {{ file.size | vtsFileSize }}
      </span>

      <span *ngIf="file.status === 'error'" class="error">
        {{ file.message }}
      </span>
    </div>
  </div>
</ng-template>


<ng-template #galleryItemDetail let-file>
  <ng-container *ngIf="file.isUploading; else done">
    <div *ngIf="file.isUploading" class="vts-upload-list-item-progress-row">
      <vts-progress [vtsPercent]="file.percent!" vtsType="line" [vtsShowInfo]="false"
        [vtsStrokeWidth]="8"></vts-progress>
      <span>
        {{file.percent! | number : '1.0-2'}}%
      </span>
    </div>
    <div class="vts-upload-list-item-backdrop" vts-tooltip [vtsTooltipTitle]="tooltipTpl">
      <ng-template [ngTemplateOutlet]="actions" [ngTemplateOutletContext]="{ $implicit: file }"></ng-template>
    </div>
  </ng-container>
  <ng-template #done>
    <ng-container *ngIf="file.status == 'error'; else uploaded">
      <div class="vts-upload-list-item-error-row">
        <i vts-icon vtsType="ImageNotSupportedOutline:mat"></i>
      </div>
    </ng-container>
    <div class="vts-upload-list-item-backdrop" vts-tooltip [vtsTooltipTitle]="tooltipTpl">
      <ng-template #uploaded></ng-template>
    </div>
  </ng-template>

  <ng-template #tooltipTpl>
    <div>{{file.name}}</div>
    <div *ngIf="file.status == 'error'">{{file.message}}</div>
  </ng-template>
</ng-template>

<ng-template #actions let-file>
  <vts-space vtsPreset="2" class="vts-upload-list-item-actions">
    <ng-container *ngIf="file.status === 'error'">
      <i *vtsSpaceItem (click)="handleRetry(file, $event)" class="vts-upload-action-icon vts-upload-action-icon-reup"
        vts-icon vtsType="AutoRenew"></i>
    </ng-container>
    <ng-container *ngIf="!file.isUploading">
      <i *vtsSpaceItem (click)="handleEdit(file, $event)" class="vts-upload-action-icon vts-upload-action-icon-edit"
        vts-icon vtsType="Edit"></i>
    </ng-container>
    <i *vtsSpaceItem (click)="handleRemove(file, $event)" class="vts-upload-action-icon vts-upload-action-icon-remove"
      vts-icon vtsType="Delete"></i>
  </vts-space>
</ng-template>