<vts-modal [(vtsVisible)]="isVisibleModal" [vtsWidth]="720">
  <div *vtsModalTitle>
    {{title}}
  </div>
  <ng-container *vtsModalContent>
    <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
  </ng-container>
  <div *vtsModalFooter>
    <button vts-button vtsType="primary" style="margin-right: 8px; border-radius: 6px;"
      (click)="onSearch()">Search</button>
    <button vts-button style="border-radius: 6px;" (click)="closeSearchPopup()">Close</button>
  </div>
</vts-modal>

<ng-template #contentTemplate>
  <ng-container *ngFor="let filter of filterGroupConfig; let i = index">
    <form [vtsSize]="size" [vtsLayout]="'vertical'" vts-form [formGroup]="formGroup">
      <vts-form-item>
        <vts-form-label class="filter-label text-format">{{filter.filterText}}</vts-form-label>
        <vts-form-control vtsErrorTip="Error message">
          <vts-select vtsMode="multiple" [vtsPlaceHolder]="placeholder" [vtsSize]="size" vtsShowSearch vtsAllowClear
            [formControlName]="filter.filterText">
            <vts-option *ngFor="let option of filter.filterValues" [vtsLabel]="option.label" [vtsValue]="option.value">
            </vts-option>
          </vts-select>
        </vts-form-control>
      </vts-form-item>
    </form>
  </ng-container>
</ng-template>