<div class='vts-protable-config'>
  <!-- filters config -->
  <vts-group-filter [filterGroupConfig]="filterGroupConfig" [properties]="properties" [headers]="displayedProperties"
    (rowHeightChanger)="handleChangeRowHeight($event)" (reloadTable)="onReloadTable($event)"
    (onChangeHeaders)="onChangeTableHeaders($event)" (putSearchData)="onSearchingByKey($event)"></vts-group-filter>

  <!-- selected items label-->
  <vts-selected-label-config [selectedItemsAmount]="checkedItemsAmount > 0 ? checkedItemsAmount : 0"
    [moreActionConfig]="moreActionConfig" (clearAllSelectedItems)="clearAllSelectedItems($event)"
    (deleteSelectedItems)="deleteSelectedItems($event)" (exportSelectedItems)="exportSelectedItems($event)">
  </vts-selected-label-config>

  <!-- table-data -->
  <ng-container *ngIf="displayedData.length>0 ; else noData">
    <vts-spin [vtsSpinning]="loading">
      <table style="width: -webkit-fill-available; margin-top: 16px;">
        <thead>
          <tr>
            <th [vtsChecked]="checked" [vtsIndeterminate]="indeterminate" (vtsCheckedChange)="onAllChecked($event)">
            </th>
            <th style="padding: 16px 16px;">#</th>
            <ng-container *ngFor="let property of properties">
              <ng-container *ngIf="property.headerTitle && property.headerTitle != null">
                <th [vtsSortFn]="sortFn" [vtsSortDirections]="sortDirections" *ngIf="property.checked"
                  (click)="sortValue(property)" class="col-poiter">
                  <span style="padding-right: 4px;">{{property.headerTitle}}</span>
                </th>
              </ng-container>
            </ng-container>
            <th style="padding: 16px 16px;">Action</th>
          </tr>
        </thead>
        <tbody class="vts-protable-tbody">
          <ng-container *ngIf="displayedData.length>0">
            <tr *ngFor="let data of displayedData; index as i" [ngStyle]="{'height':vtsRowHeight}"
              [ngClass]="'selected-item-data'">
              <td [vtsChecked]="setOfCheckedId.has(data.id)" [vtsDisabled]="data.disabled"
                (vtsCheckedChange)="onItemChecked(data.id, $event)"></td>
              <td vtsAlign="left">{{ i + vtsPageSize*(vtsPageIndex-1)+1 }}</td>
              <ng-container *ngFor="let prop of properties">
                <ng-container *ngIf="prop.checked && prop.headerTitle">
                  <ng-container
                    *ngTemplateOutlet="cellDisplay; context: {datatype: prop.datatype, value: data[prop.propertyName]}">
                  </ng-container>
                </ng-container>
              </ng-container>
              <td>
                <a vts-button vtsType="text" (click)="onViewDataItem(data.id)">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
                <a vts-button vtsType="text" vts-dropdown vtsTrigger="click" [vtsDropdownMenu]="menuActions"
                  [vtsPlacement]="'bottomRight'">
                  <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                </a>
                <vts-dropdown-menu #menuActions="vtsDropdownMenu">
                  <div class="triangle-up"></div>
                  <ul vts-menu class="drag-area">
                    <li vts-menu-item (click)="onEditDataItem(data.id)">
                      <i class="pr-8" vts-icon vtsType="EditDoutone"></i>
                      Edit
                    </li>
                    <li vts-menu-item (click)="changeStatusItem(data.id)">
                      <vts-switch class="pr-8" style="margin-left: -6px;" vtsSize="sm" [(ngModel)]="data.disabled"
                        (click)="changeStatusItem(data.id)">
                      </vts-switch><span style="padding-left: 6px;">Enable/Disable</span>
                    </li>
                    <li vts-menu-item (click)="showDeleteItemModal(data.id)" style="color: #EE0033;">
                      <i class="pr-8" vts-icon vtsType="DeleteDoutone"></i>
                      Delete
                    </li>
                  </ul>
                </vts-dropdown-menu>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <ng-container *ngIf="displayedData.length>0">
        <ng-container *ngIf="vtsPaginationPosition === 'both' || vtsPaginationPosition === 'bottom'">
          <ng-template [ngTemplateOutlet]="paginationTemplate"></ng-template>
        </ng-container>
        <ng-template #paginationTemplate>
          <vts-pagination [vtsPageIndex]="vtsPageIndex" [vtsTotal]="vtsTotal" [vtsPageSize]="vtsPageSize"
            [vtsShowTotal]="rangeTemplate" class="protable-paging" (vtsPageIndexChange)="onChangePageIndex($event)">
          </vts-pagination>
          <ng-template #rangeTemplate let-range="range" let-total>
            <span class="text-custom" style="color: #73777A; font-weight: 400;">{{ range[0] }} - {{range[1] }} / {{
              total
              }} items</span>
          </ng-template>
        </ng-template>
      </ng-container>
    </vts-spin>
    <ng-container *ngIf="displayedData.length<=0">
      <vts-empty style="padding-top: 16px;"></vts-empty>
    </ng-container>
  </ng-container>
  <ng-template #noData>
    <vts-empty style="padding-top: 16px;"></vts-empty>
  </ng-template>
</div>

<!-- Modal confirm delete -->
<table-delete [isVisibleDelete]="isVisibleDelete" [config]="modalDeleteConfig" (submit)="handleOkDelete($event)"
  (cancel)="handleCancelDelete()"></table-delete>

<!-- Modal upload -->
<table-upload [isVisibleUpload]="isVisibleUpload" [config]="modalUploadConfig" (submit)="handleOkUpload()"
  (cancel)="handleCancelUpload()" (change)="handleChangeUpload($event)"></table-upload>

<!-- Create, view, edit -->
<table-drawer [headers]="properties" [open]="visibleDrawer" [drawerConfig]="drawerConfig" [listStatus]="listStatus"
  [mode]="mode" [data]="drawerData" (close)="closeDrawer()" (modeChanger)="onModeChanger($event)"
  (createAnotherData)="onCreateAnotherData($event)" (changeItemStatus)="onChangeItemStatus($event)" (editDataChanger)="onEditDataChanger($event)"
  (deleteItem)="onDeleteItem($event)"></table-drawer>

<!-- Modal download -->
<vts-drawer [vtsVisible]="visibleExport" [vtsPlacement]="'bottom'" [vtsMask]="false" vtsHeight="80px">
  <div style="display: flex; align-items: center; justify-content: space-between;">
    <span>my_demo_download_file.xlsx is downloaded</span>
    <a vts-button [vtsType]="'text'" (click)="closeExported()">
      <i vts-icon vtsType="Close"></i>
    </a>
  </div>
</vts-drawer>

<!-- display data cell base on datatype -->
<ng-template #cellDisplay let-datatype="datatype" let-value="value">
  <ng-container [ngSwitch]="datatype">
    <td *ngSwitchCase="'number'" vtsAlign="right">{{formatNumber(value)}}</td>
    <td *ngSwitchCase="'status'">
      <ng-container *ngTemplateOutlet="colorDisplay; context: {status: value}"></ng-container>
    </td>
    <td *ngSwitchCase="'date'">
      {{ value | date:'dd/MM/yyyy' }}
    </td>
    <td *ngSwitchDefault vtsAlign="left">{{value}}</td>
  </ng-container>
</ng-template>

<!-- display status -->
<ng-template #colorDisplay let-value="status">
  <vts-tag [vtsColor]="getSelectedStatus(value)?.color" [ngClass]="getSelectedStatus(value)!=null? 'tag-status':''">
    <span>{{getSelectedStatus(value)?.text}}</span>
  </vts-tag>
</ng-template>