<vts-drawer [vtsBodyStyle]="{ overflow: 'auto' }" [vtsMaskClosable]="false" [vtsWidth]="300"
  [vtsVisible]="visibleDrawer" [vtsTitle]="title" [vtsFooter]="footerTpl" (vtsOnClose)="closeDrawer()">
  <form vts-form vtsLayout="vertical" *vtsDrawerContent [formGroup]="formGroup">
    <div *ngFor="let item of headers; let i = index">
      <ng-container *ngIf="item.headerTitle">
        <vts-form-item vts-row>
          <vts-form-label vts-col [vtsSpan]="6">{{ item.headerTitle }}</vts-form-label>
          <vts-form-control vts-col [vtsSpan]="18" *ngIf="item.datatype == 'string'; else inputNumber">
            <ng-container *ngIf="mode!=='view'">
              <input vts-input placeholder="Input value" [formControlName]="item.propertyName" />
            </ng-container>
            <ng-container *ngIf="mode==='view'">
              <input vts-input placeholder="" type="text" [formControlName]="item.propertyName" [disabled]="true"/>
            </ng-container>
          </vts-form-control>

          <ng-template #inputNumber>
            <vts-form-control vts-col [vtsSpan]="18">
              <vts-input-number [formControlName]="item.propertyName" [vtsDisabled]="mode==='view'"></vts-input-number>
            </vts-form-control>
          </ng-template>
        </vts-form-item>
      </ng-container>
    </div>
  </form>

  <ng-template #footerTpl>
    <div style="float: right">
      <button *ngIf="mode!=='view'" vts-button style="margin-right: 8px" (click)="onSave()">Save</button>
      <button vts-button vtsType="primary" (click)="closeDrawer()">Close</button>
    </div>
  </ng-template>
</vts-drawer>