.vts-protable-configuration {
  background: #ffffff;
  border-radius: 5px;
  margin-bottom: 16px;
}

.select-label {
  background: #fce5ea;
  border: 0.5px solid #cb002b;
  border-radius: 10px;
  height: 34px;
  display: flex;
  align-items: center;
}

.btn-area {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.btn-table-config {
  margin-left: 8px;
  border: none;
}

.btn-control-area {
  display: flex !important;
  text-align: left;
}

.config-area>button {
  border: none;
}

.vts-protable-tbody>tr>td {
  padding: 4px 16px;
}

td,
th {
  border-bottom: 1px solid #d1d1d1;
  background: #FFFFFF;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.15);
}

td {
  border-top: 1px solid #d1d1d1;
}

.btn-properties-config {
  margin-left: 8px;
  border-radius: 10px;
}

.protable-paging {
  display: flex;
  justify-content: right;
  padding-top: 16px;
}

.text-custom {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #CB002B;
}

.vts-pagination-item>a {
  font-weight: 700;
  font-size: 14px;
}

.vts-protable-column-sorters {
  width: auto;
}

.selected-item-data:hover {
  background: #FFF5F6 !important;
}

.vts-pagination-total-text {
  position: absolute;
  left: 0;
}

.btn-config-area {
  display: flex;
  justify-content: right;
}

.vts-protable-column-sorter-inner:hover {
  cursor: pointer;
}

.vts-tabs-top>.vts-tabs-nav {
  margin-bottom: 0px;
}

.vts-protable-col {
  display: inline-flex;
  align-items: center;
  padding: 16px 16px;
  width: auto;
}

.vts-table-column-sorters {
  width: auto !important;
}

.tag-status {
  border-radius: 6px;
  padding: 3px 8px 5px;
  height: 32px;
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}