<div class='vts-protable-configuration'>
  <div class="btn-area">
    <div vts-col class="btn-control-area">
      <button vts-button vtsType="primary" [vtsSize]="'sm'" (click)="openDrawer()"><i class="collapse-icon" vts-icon
          [vtsType]="'AddCircle'"></i>New</button>
      <button vts-button class="btn-table-config" vtsType="primary" [vtsSize]="'sm'" (click)="exportDataToFile()"><i
          class="collapse-icon" vts-icon [vtsType]="'AddCircle'"></i>Export</button>
      <button vts-button class="btn-table-config" vtsType="primary" [vtsSize]="'sm'" (click)="showUploadModal()"><i
          class="collapse-icon" vts-icon [vtsType]="'AddCircle'"></i>Import</button>
      <ng-container *ngIf="checkedItemsAmount>0">
        <button vts-button class="btn-table-config" vtsType="default" [vtsSize]="'sm'"
          [disabled]="checkedItemsAmount<=0" (click)="showDeleteModal()">Delete all selected items</button>
      </ng-container>
    </div>
    <div vts-col class="btn-config-area">
      <a vts-button class="btn-table-config" vts-dropdown vtsTrigger="click" [vtsDropdownMenu]="menuSwapVert">
        <i vts-icon vtsType="SwapVert"></i>
      </a>
      <vts-dropdown-menu #menuSwapVert="vtsDropdownMenu">
        <ul vts-menu>
          <li vts-menu-item (click)="handleChangeRowHeight('normal')">Normal</li>
          <li vts-menu-item (click)="handleChangeRowHeight('expand')">Expand</li>
          <li vts-menu-item (click)="handleChangeRowHeight('narrow')">Narrow</li>
        </ul>
      </vts-dropdown-menu>
      <button vts-button class="btn-table-config" vtsType="default" (click)="reloadTableData()"><i vts-icon
          vtsType="Sync"></i></button>
      <a vts-button vts-dropdown vtsTrigger="click" [vtsDropdownMenu]="menuSettings" class="btn-table-config">
        <i vts-icon vtsType="Settings"></i>
      </a>
      <vts-dropdown-menu #menuSettings="vtsDropdownMenu" style="min-width: 200px;">
        <ul vts-menu cdkDropList (cdkDropListDropped)="drop($event)">
          <li vts-menu-item>
            <label vts-checkbox [(ngModel)]="allChecked" (ngModelChange)="updateAllChecked()"
              [vtsIndeterminate]="indeterminateConfig">Display all column</label>
          </li>
          <vts-divider style="margin: 0;"></vts-divider>
          <ng-container *ngFor="let property of properties">
            <li vts-menu-item cdkDrag style="list-style-type: none;">
              <i vts-icon vtsType="FullScreen"></i>
              <label vts-checkbox [(ngModel)]="property.checked" (ngModelChange)="updateSingleChecked()">{{property.headerTitle}}</label>
            </li>
          </ng-container>
          <vts-divider style="margin: 0;"></vts-divider>
          <div class="btn-config-area">
            <button class="btn-properties-config" vts-button [vtsSize]="'xs'" vtsType="primary" (click)="onSaveCheckedPropertiesChange()">Save</button>
            <button class="btn-properties-config" vts-button [vtsSize]="'xs'" vtsType="default" (click)="onResetCheckedProperties()">Reset</button>
          </div>
        </ul>
      </vts-dropdown-menu>
    </div>
  </div>

  <ng-container>
    <ng-template [ngTemplateOutlet]="selectedInfo"></ng-template>
  </ng-container>
  <ng-template #selectedInfo>
    <div class="select-label">
      <span style="padding-left: 16px;">
        <span class="text-custom">{{ checkedItemsAmount }}</span> items is selected <span
          style="color: #CB002B; height: 18px;">| <a (click)="showDeleteModal()" class="text-custom">Clear
            selected</a></span>
      </span>
    </div>
  </ng-template>

  <vts-spin [vtsSpinning]="loading">
    <table style="width: -webkit-fill-available; margin-top: 16px;">
      <thead>
        <tr>
          <th [vtsChecked]="checked" [vtsIndeterminate]="indeterminate" (vtsCheckedChange)="onAllChecked($event)"></th>
          <ng-container *ngFor="let property of properties">
            <th [vtsSortDirections]="sortDirections" [vtsSortFn]="sortFn" *ngIf="property.checked">
              {{property.headerTitle}}</th>
          </ng-container>
          <th style="padding: 16px 16px;">Action</th>
        </tr>
      </thead>
      <tbody class="vts-table-tbody">
        <tr *ngFor="let data of displayedData; index as i" [ngStyle]="{'height':vtsRowHeight+'px'}"
          [ngClass]="'selected-item-data'">
          <td [vtsChecked]="setOfCheckedId.has(data.id)" [vtsDisabled]="data.disabled"
            (vtsCheckedChange)="onItemChecked(data.id, $event)"></td>
          <ng-container *ngFor="let prop of properties">
            <td *ngIf="prop.checked" vtsAlign="left">{{ data[prop.propertyName] }}</td>
          </ng-container>
          <td>
            <a (click)="onViewDataItem(data.id)">View</a>
            <a> | </a>
            <a vts-dropdown vtsTrigger="click" [vtsDropdownMenu]="menuActions">More<i class="collapse-icon" vts-icon
                [vtsType]="vtsIsCollapse ? 'ArrowMiniDown' : 'ArrowMiniUp'"></i></a>
            <vts-dropdown-menu #menuActions="vtsDropdownMenu">
              <ul vts-menu>
                <li vts-menu-item (click)="onEditDataItem(data.id)">Edit</li>
                <li vts-menu-item (click)="showDeleteItemModal(data.id)">Delete</li>
                <li *ngIf="data.disabled" vts-menu-item (click)="changeStatusItem(data.id)">Enable</li>
                <li *ngIf="!data.disabled" vts-menu-item (click)="changeStatusItem(data.id)">Disable</li>
              </ul>
            </vts-dropdown-menu>
          </td>
        </tr>
      </tbody>
    </table>
    <ng-container *ngIf="vtsPaginationPosition === 'both' || vtsPaginationPosition === 'bottom'">
      <ng-template [ngTemplateOutlet]="paginationTemplate"></ng-template>
    </ng-container>
    <ng-template #paginationTemplate>
      <vts-pagination [vtsPageIndex]="vtsPageIndex" [vtsTotal]="vtsTotal" [vtsPageSize]="vtsPageSize"
        [vtsShowTotal]="rangeTemplate" class="protable-paging" (vtsPageIndexChange)="onChangePageIndex($event)">
      </vts-pagination>
      <ng-template #rangeTemplate let-range="range" let-total>
        <span class="text-custom">{{ range[0] }}<span style="color: #000000;"> - </span>{{ range[1] }}<span
            style="color: #000000;"> / </span>{{ total }}<span style="color: #000000;">
            items</span></span>
      </ng-template>
    </ng-template>
  </vts-spin>
</div>

<vts-modal [(vtsVisible)]="isVisibleModal" [vtsTitle]="modalData.title" [vtsContent]="modalData.content"
  (vtsOnCancel)="handleCancelModal()" (vtsOnOk)="handleOkModal()" [vtsOkLoading]="isOkLoadingModal">
  <p *vtsModalContent>Modal Content</p>
</vts-modal>

<vts-modal [(vtsVisible)]="isVisibleDelete" [vtsTitle]="modalDeleteData.title" [vtsContent]="modalDeleteData.content"
  (vtsOnCancel)="handleCancelDelete()" (vtsOnOk)="handleOkDelete()" [vtsOkLoading]="isOkLoadingDelete">
  <p *vtsModalContent>Modal Content</p>
</vts-modal>

<vts-modal [(vtsVisible)]="isVisibleUpload" [vtsWidth]="720" [vtsOkText]="uploadData.okText"
  (vtsOnCancel)="handleCancelUpload()" (vtsOnOk)="handleOkUpload()">
  <ng-container *vtsModalContent>
    <vts-upload vtsType="drag" vtsAccept=".png, .jpg, .jpeg, .svg" [vtsMultiple]="true"
      [vtsOpenFileDialogOnClick]="false" [vtsAction]="uploadData.url" (vtsChange)="handleChangeUpload($event)"
      #container>
      <p class="vts-upload-drag-icon">
        <i vts-icon vtsType="UploadCloud"></i>
      </p>
      <p class="text-hint">
        Kéo thả ảnh/video hoặc
        <a vts-button vtsType="link" (click)="container.openDialog()">Chọn file</a>
        để tải lên
      </p>
      <p class="text-hint">
        Chỉ cho phép file dạng .png, .jpg, .jpeg, .svg và dung lượng không quá 100Mb
      </p>
    </vts-upload>
  </ng-container>
</vts-modal>

<table-drawer [saveRequest]="saveRequest" [headers]="properties" (close)="closeDrawer()" [visibleDrawer]="visibleDrawer"
  [mode]="mode" [data]="drawerData"></table-drawer>