<div
  style="
    position: fixed;
    height: 100%;
    width: 100%;
    justify-content: center;
    background-color: white;
    font-size: xx-large;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
  "
  *ngIf="isLockOrUnlock"
  (click)="showInput()"
>
  Screen is currently locked
</div>
<vts-modal [(vtsVisible)]="isShowInput" vtsTitle="The first Modal">
  <form [vtsLayout]="'vertical'" vts-form [formGroup]="form">
    <vts-form-item>
      <vts-form-label vtsRequired>Nhập mật khẩu khóa màn hình:</vts-form-label>
      <vts-form-control>
        <input
          vts-input
          formControlName="password"
          [placeholder]="'Mật khẩu'"
          [autofocus]="true"
          type="password"
        />
      </vts-form-control>
    </vts-form-item>
    <vts-form-item *ngIf="isLockOrUnlock; else isCurrentlyUnlock">
      <vts-form-control>
        <button vtsSize="sm" vts-button (click)="submit()">
          <i vts-icon vtsType="AddCircle"></i>
          Unlock
        </button>
      </vts-form-control>
    </vts-form-item>
    <ng-template #isCurrentlyUnlock>
      <vts-form-item>
        <vts-form-control>
          <button vtsSize="sm" vts-button (click)="submit()">
            <i vts-icon vtsType="AddCircle"></i>
            Lock
          </button>
        </vts-form-control>
      </vts-form-item>
    </ng-template>
  </form>
</vts-modal>
