<ng-container *ngIf="menuItem.children && menuItem.children.length > 0; else menuChild">
    <li vts-submenu [vtsTitle]="menuItem.title">
        <ul>
            <ng-container *ngFor="let item of menuItem.children">
                <vts-prolayout-menu-item [menuItem]="item"></vts-prolayout-menu-item>
            </ng-container>
        </ul>
    </li>
</ng-container>

<ng-template #menuChild>
    <ng-template *ngIf="menuItem.isSelected; else notSelectedChild">
        <li vts-menu-item vtsSelected>{{menuItem.title}}</li>
    </ng-template>
    <ng-template #notSelectedChild>
        <li vts-menu-item>{{menuItem.title}}</li>
    </ng-template>
</ng-template>