<div vts-row class="vts-prolayout-header-wrapper">
    <!-- class 'logo-fixed-header' is added when sider is visible -->
    <div vts-row vts-col [ngClass]="{'logo-fixed-header': !isFixedHeader && isShowSider}" *ngIf="showLogo">
        <div vts-col class="logo-header vts-logo" *ngIf="!isCollapsedSider" [style.backgroundImage]="'url(' + vtsLogoUrl + ')'"></div>
        <!-- this button will be visible when the sider is -->
        <div vts-col vts-row [vtsAlign]="'middle'" class="btn-toggle-sider" *ngIf="!isFixedHeader && isShowSider">
            <button vts-button vtsType="text" class="trigger" (click)="toggleSider()">
                <i vts-icon vtsType="AlignJustify:vts"></i>
            </button>
        </div>
    </div>
    <div vts-row vts-col vtsFlex="auto" class="header-main">
        <!-- Title with menu -->
        <div vts-col class="title-container" vtsFlex="auto">
            <ng-container *ngIf="vtsTitle">
                <ng-container *ngIf="windowSize == 'medium'; else shortTitle">
                    {{ vtsTitle }}
                </ng-container>            
                <ng-template #shortTitle>
                    <!-- a short title can be here, not decided -->
                    {{ vtsTitle }}
                </ng-template>
            </ng-container>
            <ng-container *ngIf="!useSplitMenu">
                <ng-container *ngIf="displayMenuData[0].children && displayMenuData[0].children.length > 0"> 
                    <ul vts-menu vtsTheme="dark" vtsMode="horizontal" class="header-menu">
                        <ng-container *ngFor="let item of displayMenuData">
                            <vts-prolayout-menu-item-horizontal [vtsMenuItem]="item"></vts-prolayout-menu-item-horizontal>
                        </ng-container>
                    </ul>
                </ng-container>
            </ng-container>
        </div>
        <div vts-col vts-row class="avatar-container">
            <div class="icon-utils-container" vts-col vts-row>
                <!-- Search -->
                <div vts-col vts-row [vtsAlign]="'middle'" class="icons-utils">
                    <i vts-icon vtsType="Search" class="cursor-pointer"></i>
                </div>
                <!-- Full screen -->
                <div vts-col vts-row [vtsAlign]="'middle'" class="icons-utils">
                    <i vts-icon vtsType="FullScreen:vts" class="cursor-pointer" (click)="toggleFullScreen()"></i>
                </div>
                <!-- Block UI -->
                <div vts-col vts-row [vtsAlign]="'middle'" class="icons-utils">
                    <i vts-icon vtsType="Lock:vts" class="cursor-pointer" (click)="lockScreen()"></i>
                </div>
                <!-- Notification -->
                <div vts-col vts-row [vtsAlign]="'middle'" class="icons-utils" [ngClass]="{'notification-icon': notificationCount > 0}">
                    <i vts-icon vtsType="Notifications:vts" class="cursor-pointer" *ngIf="notificationCount === 0; else hasNotification"></i>
                    <ng-template #hasNotification>
                        <!-- render notification pane based on type, default to be a menu context -->
                        <ng-container [ngSwitch]="vtsNotificationConfig.type">
                            <ng-container *ngSwitchCase="'drawer'">
                                <vts-badge [vtsCount]="notificationCount" [vtsOverflowCount]="vtsNotificationConfig.overflowCount">
                                    <i vts-icon vtsType="Notifications:vts" class="cursor-pointer" (click)="openNotificationPane()"></i>
                                </vts-badge>
                            </ng-container>
                            <ng-container *ngSwitchDefault>
                                <!-- if has vtsMenuTemplate -->
                                <vts-badge [vtsCount]="notificationCount" [vtsOverflowCount]="vtsNotificationConfig.overflowCount" *ngIf="vtsMenuTemplate">
                                    <i vts-icon vtsType="Notifications:vts" vts-dropdown vtsTrigger="click" [vtsDropdownMenu]="defaultMenu" class="cursor-pointer"></i>
                                    <vts-dropdown-menu #defaultMenu="vtsDropdownMenu">
                                        <ng-container *ngTemplateOutlet="vtsMenuTemplate">       
                                            {{vtsMenuTemplate}}     
                                        </ng-container>
                                    </vts-dropdown-menu>
                                </vts-badge>
                            </ng-container>
                        </ng-container>
                    </ng-template>
                </div>
            </div>
            <!-- avatar with menu dropdown -->
            <div vts-row vtsAlign="middle" vts-col class="avatar-main cursor-pointer" vtsTrigger="click" vts-dropdown [vtsDropdownMenu]="menuAvatar" *ngIf="vtsAvatarMenu.length >= 0; else withoutDropdown">
                <ng-container *ngIf="vtsAvatar.imgUrl; else noImgAvatar">
                    <vts-avatar vts-col class="avatar-user" vtsIcon="user" [vtsSrc]="vtsAvatar.imgUrl"></vts-avatar>
                </ng-container>
                <ng-template #noImgAvatar>
                    <i vts-icon vtsType="AccountCircle:vts" class="no-avatar"></i>
                </ng-template>
                <div vts-col style="margin-left: 5px;" *ngIf="windowSize == 'large'">
                    <div class="username">
                        {{ vtsAvatar.name }}
                        <i vts-icon vtsType="ArrowMiniDown:vts"></i>
                    </div>
                    <div class="subname">
                        {{ vtsAvatar.subname }}
                    </div>
                </div>
            </div>
            <!-- avatar without menu dropdown -->
            <ng-template #withoutDropdown>
                <div vts-row vtsAlign="middle" vts-col class="cursor-pointer">
                    <vts-avatar vts-col class="avatar-user" vtsIcon="user" [vtsSrc]="vtsAvatar.imgUrl"></vts-avatar>
                    <div vts-col style="margin-left: 5px;" *ngIf="windowSize == 'large'">
                        <div class="username">
                            {{ vtsAvatar.name }}
                        </div>
                        <div class="subname">
                            {{ vtsAvatar.subname }}
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
        <vts-dropdown-menu #menuAvatar="vtsDropdownMenu">
            <ng-container *ngIf="!vtsMenuAvatarTemplateRef; else withTemplate">
                <ul vts-menu vtsSelectable>
                    <li vts-menu-item *ngFor="let item of vtsAvatarMenu" (click)="onClickAvatarMenuItem(item)">{{ item.label }}</li>
                </ul>
            </ng-container>
            <ng-template #withTemplate>
                <ng-container *ngTemplateOutlet="vtsMenuAvatarTemplateRef">
                    {{ vtsMenuAvatarTemplateRef }}
                </ng-container>
            </ng-template>
        </vts-dropdown-menu>
    </div>
</div>