<div id="test">
  <ng-template *ngIf="open; else closed">
    <button vts-button>
      <i vts-icon vtsType="Close"></i>
    </button>
  </ng-template>
  <ng-template #closed>
    <button vts-button (click)="openDrawer()">
      <i vts-icon vtsType="Settings"></i>
    </button>
  </ng-template>
</div>
<vts-drawer [vtsClosable]="true" [vtsVisible]="open" vtsPlacement="right" [vtsWrapClassName]="drawerWrapClassName"
  vtsTitle="Basic Drawer" (vtsOnClose)="closeDrawer()">
  <ng-container *vtsDrawerContent>
    <p>
      Fixed Header: <vts-switch [(ngModel)]="isFixedHeader" (ngModelChange)="onChangeFixedHeader($event)"></vts-switch>
    </p>
    <p>
      Fixed Sider: <vts-switch [(ngModel)]="isFixedSider" (ngModelChange)="onChangeFixedSider($event)"></vts-switch>
    </p>
  </ng-container>
</vts-drawer>