<form vts-form [formGroup]="validateForm" class="vts-advanced-search-form">
  <div vts-row [vtsGutter]="24">
    <div vts-col [vtsSpan]="6" *ngFor="let control of controlArray" [hidden]="!control.show">
      <vts-form-item>
        <vts-form-label [vtsFor]="'property' + control.index">
          Propertie {{ control.index }}
        </vts-form-label>
        <vts-form-control>
          <input vts-input placeholder="Input propertie name" [formControlName]="'property' + control.index"
            [attr.id]="'property' + control.index" />
        </vts-form-control>
      </vts-form-item>
    </div>
    <div vts-col [vtsSpan]="6" class="search-area">
      <button vts-button [vtsType]="'primary'" [vtsSize]="'xs'" (click)="mockFn()">Search</button>
      <button vts-button [vtsSize]="'xs'" (click)="resetForm()">Reset</button>
      <button vts-button [vtsSize]="'xs'" (click)="toggleCollapse()">Collapse
        <i class="collapse-icon" vts-icon [vtsType]="vtsIsCollapse ? 'ArrowMiniDown' : 'ArrowMiniUp'"></i>
      </button>
    </div>
  </div>
</form>